<!DOCTYPE html>
<html>
<head>
    <title>Leave Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="home-container">

        <h1>Leave Management System</h1>

        <p>Welcome to the Leave Management System</p>

        <a href="/employee">
            <button class="apply-btn">
                Apply Leave
            </button>
        </a>

        <br><br>

        <a href="/hr_login">
            <button class="hr-btn">
                HR Login
            </button>
        </a>

    </div>

</body>
</html>